@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$widget-width: fit-content;
body,
html {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;

}

#desktop {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("/assets/wallpapers/wallpaper.svg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .top-nav {
        display: flex;
        align-items: center;
        padding: 6px 20px;
        justify-content: space-between;
        width: 100%;
        // z-index: 10000000000000 !important;
        height: 1.9rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3px);

        .nav-text {
            display: flex;
            align-items: center;

            span {
                font-size: .9rem;
                display: flex;
                align-items: center;

            }
        }

        .nav-icons { 
            user-select: none;
            cursor: pointer;
            img {

                width: .9rem;
            }

            gap: 5px;
            display: flex;
            align-items: center;
        }

    }

    .bottom-nav {
        z-index: 10000001;
        height: 50px;
        gap: 10px;
        position: absolute;
        bottom: 1.2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .taskbar {
            border: 1px solid rgba(255, 255, 255, 0.3);

            // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;   

            img {
                transition: all ease .2s;

                // scale: 1.0;
                width: 1.7rem;
                cursor: pointer;

                &:hover {
                    width: 2.5rem;
                    scale: 1.2
                }
            }

            // overflow-y: hidden;
            height: 100%;
            // max-height:48px ;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            padding: 10px 20px;
            backdrop-filter: blur(3px);
            display: flex;
            gap: 10px;

            .search {
                display: flex;
                align-items: center;
                border-radius: 8px;
                // padding: 8px 16px;
                // margin: 0 8px;
                width: 80px;

                input {
                    border: none;
                    background: transparent;
                    outline: none;
                    font-size: 14px;
                    width: 100%;
                    color: #fff;

                    &::placeholder {
                        color: #fff;
                    }
                }

                i {
                    color: #fff;
                    margin-right: 12px;
                }
            }
        }

        .v-line {
            margin: 0 10px 0 2px;
            height: 100%;
            width: 3px;
            border-radius: 1.7rem;
            background-color: #bebebe;
        }

        .widgets {
            border: 1px solid rgba(255, 255, 255, 0.3);

            // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            // min-width: $widget-width + 500px !important;
            align-items: center;
            height: 100%;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            padding: 10px 20px;
            backdrop-filter: blur(3px);
            display: flex;
            gap: 10px;

            .clock {

                .time {
                    font-weight: 700;
                }

                gap: 10px;
                display: flex;
            }
        }
    }

    .windows {
        width: 100%;
        position: relative;
        height: calc(100% - 1.9rem);
.trash {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 400px;
  min-width: 300px;
  min-height: 100px;
  max-height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: opacity 0.2s ease, margin 0.2s ease;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.trash .trash-top {
  border-radius: 10px 10px 0 0;
  background-color: #222; 
  padding: 10px;
  width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  position: relative;
  font-weight: bold;
}
.trash .trash-top .navigation {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
}

.trash .trash-top .navigation i {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  transition: transform 0.2s;
}

.trash .trash-top .navigation i:hover {
  transform: scale(1.2);
}

// .trash .text-content {
// //   flex: 1;
// //   padding: 20px;
//   overflow-y: auto;
//   font-size: 0.9rem;
//   color: #333;
  
// }


.trash .clear-btn:hover {
  background-color: rgba(200, 200, 200, 1);
}


        .resizer {
            position: absolute;
            z-index: 10;
            background: transparent;
        }

        .resizer.top {
            top: 0;
            left: 0;
            height: 5px;
            width: 100%;
            cursor: ns-resize;
        }

        .resizer.right {
            top: 0;
            right: 0;
            width: 5px;
            height: 100%;
            cursor: ew-resize;
        }

        .resizer.bottom {
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
            cursor: ns-resize;
        }

        .resizer.left {
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            cursor: ew-resize;
        }

        .apps {
            // width: 100%;
            height: 100%;
            display: grid;
            height: 90%;
            // flex-wrap: wrap;
            grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
            // flex-direction: column;
            gap: 20px;
            padding: 20px;

            img {
                cursor: pointer;
                width: 2.2rem;
            }
        }

        .app-window {
            z-index: 2000;
        }

        .app-window.fullscreen {
            z-index: 4000;
        }
    }

    .start-div {
        z-index: 1000;
        transition: all ease .5s;
        opacity: 0;
        padding: 1rem;
        position: absolute;
        gap: 1.2rem;
        // top: 0;
        // align-self: center;
        transform: translate(50%);
        align-items: center;
        bottom: -100vh;
           border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, .37);
        backdrop-filter: blur(5px);
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;

        .search-bar{
            width: 100%;
            input{
                transition: all ease .3s;
                color: #bebebe;
                background-color: transparent;
                border: none;
                padding: 5px 10px;
                width: 100%;
                border-bottom: 2px solid  rgb(162, 169, 175);
                &:focus{
                    outline: none;
                   border-bottom: 2px solid  rgba(29, 127, 212, 0.726);
                   &::placeholder{
                    color: #d3cece;
                   }
                }
            }
            // height: 30px;
        }
        .start-apps-text{
            span{
                color:#fff;
            }
            padding: 0 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            button {
            border: none;
            padding: 5px 10px;
            font-size: .8rem;
            border-radius: 5px;
            background-color: #bebebe;
            cursor: pointer;
            }
        }
        .start-apps{
            width: 100%;
            display: grid;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            scrollbar-width: none;
            -ms-overflow-style: none;
            grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
            gap: 2.2rem;
            // flex-wrap: wrap;
            .start-apps-perticular{
                cursor: pointer;
                text-align: center;
                align-items: center;
                      display: flex;
                       gap: 1.2rem;
                       flex-direction: column;
                img{
                    width: 2.2rem;
                }
                span{
                    color: #bebebe;
                    font-size: .8rem;
                }
            }
        }

    }
}

body.fullscreen-active .start-div,
body.fullscreen-active .bottom-nav {
    display: none !important;
}

.trash .text-content {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    
    // padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    div{
        iframe{
              &::-webkit-scrollbar {
        display: none;
         scrollbar-width: none;
    -ms-overflow-style: none;
    }
        }

   
    }
  

}

.trash .terminal-window {

    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    color: #c5c5c5;
    font-family: 'Consolas', monospace;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border: 1px solid #333;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.trash .terminal-title {
    background-color: #2d2d2d;
    padding: 10px 15px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #444;
    flex-shrink: 0;
}

.trash .terminal-body {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
    flex: 1;
    padding: 15px;
    white-space: pre-wrap;
    line-height: 1.4;
    overflow-y: auto;
}



